@charset "UTF-8";
body {
  background-color: #FFFFFF; }

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #EEEEEE;
  padding: 10px 0; }
  @media (min-width: 1365.99px) {
    .nav {
      justify-content: flex-start;
      padding: 5px 100px; } }
  .nav__link {
    text-decoration: none; }
    @media (min-width: 1365.99px) {
      .nav__link {
        display: flex;
        align-items: center; }
        .nav__link:nth-child(2) {
          margin-right: 30px; }
        .nav__link--grow {
          flex-grow: 2; } }
  .nav__icon {
    width: 30px;
    height: 25px; }
    @media (min-width: 1365.99px) {
      .nav__icon {
        width: 20px;
        height: 17px;
        margin-right: 10px; } }
  .nav__text {
    display: none; }
    @media (min-width: 1365.99px) {
      .nav__text {
        display: inline;
        font: normal normal normal 12px/16px FoundryMonoline ☞;
        color: #707070; } }

.header {
  margin: 30px; }
  @media (min-width: 1365.99px) {
    .header {
      margin: 0; } }
  .header__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 1365.99px) {
      .header__info {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px;
        margin: 20px 0; } }
  .header__principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media (min-width: 1365.99px) {
      .header__principal {
        background: url("lib/img_desktop/Retângulo 1.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 400px; } }
  .header__background {
    background: url("lib/img_mobile/Civic_EXL_2017_3_4_Lado_A_Preto_72dpi.png") 0% 0% no-repeat padding-box;
    width: 22em;
    height: 200px;
    background-position: center;
    margin-bottom: 20px; }
    @media (min-width: 1365.99px) {
      .header__background {
        display: none; } }
  @media (min-width: 1365.99px) {
    .header__image {
      display: none; } }

.bloco-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin: 30px 0; }
  @media (min-width: 1365.99px) {
    .bloco-info {
      margin: 0px 0; } }
  .bloco-info--contatos {
    border: 1px solid #DF0209;
    border-radius: 5px;
    background: #FFFFFF;
    padding: 15px;
    margin: 5px 0;
    width: 270px; }
  .bloco-info--especial {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .bloco-info__titulo {
    font: italic normal normal 16px/21px FoundryMonoline-MedIta ☞;
    color: #727B7A;
    letter-spacing: -0.7px; }
  .bloco-info__telefone {
    color: #DF0209;
    font: italic normal normal 26px/35px FoundryMonoline-ExBdIta ☞; }
  .bloco-info__icon {
    width: 27px;
    height: 39px; }
  .bloco-info__container {
    display: flex;
    flex-direction: column; }
  .bloco-info__text {
    font: normal normal normal 14px/19px FoundryMonoline ☞;
    color: #000000;
    text-align: left; }
  .bloco-info__destaque {
    color: #DF0209;
    font-size: 26px; }

.section-form {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 1365.99px) {
    .section-form {
      position: fixed;
      top: 200px;
      right: 30px;
      z-index: 999;
      padding: 0; } }

.form-component {
  background-color: #EEEEEE;
  padding: 20px;
  box-shadow: 0px 0px 5px #00000029;
  border-radius: 4px;
  width: 290px; }
  .form-component__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px; }
  .form-component__icon {
    width: 35px;
    height: 35px;
    margin-right: 10px; }
  .form-component__title {
    display: flex;
    flex-direction: column; }
  .form-component__text {
    font: normal normal medium 14px/19px FoundryMonoline ☞; }
  .form-component__destaque {
    font: normal normal normal 21px/19px FoundryMonoline ☞;
    color: #DF0209; }
  .form-component__container-input {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
  .form-component__input-icon {
    width: 16px;
    height: 16px; }
  .form-component__input {
    background: #EEEEEE 0% 0% no-repeat padding-box;
    border: 0;
    margin-left: 10px;
    font-size: 14px;
    font-family: 'Roboto';
    color: #00000061;
    width: 100%;
    outline: none; }
    .form-component__input::placeholder {
      font-size: 14px;
      font-family: 'Roboto';
      color: #00000061; }
  .form-component__container-select {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
  .form-component__select {
    background: #EEEEEE 0% 0% no-repeat padding-box;
    border: 0;
    margin-left: 10px;
    font: normal normal normal 14px 'Roboto';
    color: #00000061;
    width: 100%;
    outline: none;
    cursor: pointer; }
  .form-component__button {
    background-color: #1cb72a;
    border: none;
    border-radius: 4px;
    color: white;
    font: normal normal bold 14px/24px 'Roboto';
    text-align: center;
    padding: 10px;
    width: 100%;
    cursor: pointer; }

.section-emocao-dirigir {
  padding: 20px; }
  @media (min-width: 1365.99px) {
    .section-emocao-dirigir {
      margin: 30px 0;
      padding: 0 100px; } }
  .section-emocao-dirigir__titulo {
    text-align: center;
    font: italic normal normal 24px/32px FoundryMonoline-ExBdIta ☞;
    margin-bottom: 15px; }
    @media (min-width: 1365.99px) {
      .section-emocao-dirigir__titulo {
        font-size: 34px;
        line-height: 46px;
        text-align: left; } }
  @media (min-width: 1365.99px) {
    .section-emocao-dirigir__imagens {
      display: flex;
      align-items: center;
      margin-bottom: 20px; } }
  .section-emocao-dirigir__imagens-secundarias {
    display: none; }
    @media (min-width: 1365.99px) {
      .section-emocao-dirigir__imagens-secundarias {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px;
        margin-bottom: 10px; }
        .section-emocao-dirigir__imagens-secundarias img {
          margin-bottom: 10px;
          border: 1px solid #D5D5D5;
          padding: 5px; } }
  .section-emocao-dirigir__imagem-principal {
    background: url("lib/img_mobile/juntosi.png") 0% 0% no-repeat padding-box;
    width: 100%;
    height: 100px;
    background-position: center;
    margin-bottom: 30px; }
    @media (min-width: 1365.99px) {
      .section-emocao-dirigir__imagem-principal {
        background: url("lib/img_desktop/juntosi.png") 0% 0% no-repeat padding-box;
        height: 215px;
        margin-bottom: 0; } }
  .section-emocao-dirigir__descricao {
    text-align: center;
    font: normal normal normal 18px/24px FoundryMonoline-Regular ☞;
    margin-bottom: 20px; }
    .section-emocao-dirigir__descricao br {
      display: none; }
    @media (min-width: 1365.99px) {
      .section-emocao-dirigir__descricao {
        text-align: left; }
        .section-emocao-dirigir__descricao br {
          display: inline; } }

.section-preparar-novo {
  width: 100%;
  height: 400px;
  background: url("lib/img_mobile/Retângulo 11.png") 0% 0% no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  @media (min-width: 1365.99px) {
    .section-preparar-novo {
      background: url("lib/img_desktop/Grupo 74@2x.png") 0% 0% no-repeat;
      margin: 20px 0;
      padding: 0;
      width: 100%;
      height: 842px;
      background-size: cover; } }
  .section-preparar-novo__gradiente {
    transform: matrix(-1, 0, 0, -1, 0, 0);
    background: transparent linear-gradient(180deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    height: 245px;
    position: absolute;
    bottom: 0; }
    @media (min-width: 1365.99px) {
      .section-preparar-novo__gradiente {
        display: none; } }
  .section-preparar-novo__container {
    margin-bottom: 30px;
    padding: 0 20px;
    text-align: center;
    position: absolute;
    bottom: 0; }
    @media (min-width: 1365.99px) {
      .section-preparar-novo__container {
        display: none; } }
  .section-preparar-novo__header {
    font: italic normal normal 24px/32px FoundryMonoline-ExBdIta ☞;
    color: #FFFFFF; }
  .section-preparar-novo__text {
    font: normal normal normal 16px/21px FoundryMonoline-Regular ☞;
    color: #FFFFFF; }

.section-carousel {
  text-align: center;
  padding: 20px; }
  @media (min-width: 1365.99px) {
    .section-carousel {
      display: none; } }
  .section-carousel__header {
    font: italic normal normal 20px/27px FoundryMonoline-ExBdIta ☞;
    color: #000;
    margin-top: 20px;
    margin-bottom: 10px; }
  .section-carousel__text {
    font: normal normal 300 14px/19px FoundryMonoline ☞;
    color: #000; }

.my-carousel__before {
  transform: rotate(-180deg);
  margin-left: 5px; }

.my-carousel__after {
  margin-right: 5px; }

.my-carousel__content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.my-carousel__container-image {
  border: 1px solid #D5D5D5;
  padding: 5px; }

.my-carousel__background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(lib/img_mobile/07-DIRECAO_ELETRICA.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 323px;
  height: 223px; }

.my-carousel__icon {
  background: rgba(213, 213, 213, 0.5);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  padding: 10px;
  cursor: pointer; }

.my-carousel__container-item {
  display: flex;
  justify-content: center;
  margin-top: 30px; }

.my-carousel__item {
  width: 15px;
  height: 15px;
  background: #D5D5D5 0% 0% no-repeat padding-box;
  border-radius: 100%;
  margin: 0 5px; }

.my-carousel__item--active {
  background-color: #808080; }

.section-lancamentos {
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: center; }
  .section-lancamentos__header {
    font: italic normal normal 24px/32px FoundryMonoline-ExBdIta ☞;
    color: #000000; }
  .section-lancamentos__text {
    font: normal normal normal 16px/21px FoundryMonoline-Regular ☞;
    color: #000000; }
  .section-lancamentos__select {
    border: 1px solid #D5D5D5;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .section-lancamentos__icon {
    transform: rotate(90deg);
    color: #000000;
    cursor: pointer; }
  .section-lancamentos__button {
    font: normal normal 300 14px/24px 'Roboto';
    color: #000000;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    width: 100%;
    background-color: #fff; }

.section-contatos {
  background-color: #EEEEEE;
  padding: 10px 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-contatos__container-social-media {
    margin-top: 20px;
    margin-bottom: 10px; }
  .section-contatos__text {
    font: italic normal normal 18px/24px FoundryMonoline-ExBdIta ☞;
    margin-bottom: 10px; }
  .section-contatos__social-media {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
  .section-contatos__icon {
    width: 20px;
    height: 20px;
    color: #FFFFFF;
    background-color: #C5C5C5;
    border-radius: 100%;
    padding: 10px; }
  .section-contatos__container-icon {
    border-radius: 100%;
    padding: 10px;
    background-color: #C5C5C5;
    border: 1px solid #C5C5C5; }
  .section-contatos__icon-instagram {
    vertical-align: bottom;
    width: 20px;
    height: 20px; }

.footer {
  text-align: center;
  padding: 20px 20px 40px 20px; }
  .footer__conteudo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px; }
  .footer__text {
    font: normal normal normal 12px/16px Segoe UI;
    color: #707070; }
