@charset "UTF-8";
body {
  background-color: #FFFFFF; }

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #EEEEEE;
  padding: 10px 0; }
  .nav__link {
    text-decoration: none; }
  .nav__icon {
    width: 30px;
    height: 25px; }
  .nav__text {
    display: none; }

.header {
  margin: 30px; }
  .header__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .header__principal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }

.bloco-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  margin: 30px 0; }
  .bloco-info--borda-vermelha {
    border: 1px solid #DF0209;
    border-radius: 5px; }
  .bloco-info__titulo {
    font: italic normal normal 16px/21px FoundryMonoline-MedIta ☞;
    color: #727B7A;
    letter-spacing: -0.7px; }
  .bloco-info__destaque {
    color: #DF0209;
    font: italic normal normal 26px/35px FoundryMonoline-ExBdIta ☞; }
